python-socketio==5.9.0
scrapy
pandas
beautifulsoup4
langchain
pysqlite3
sqlalchemy
qdrant-client[fastembed]
langchain-community
faiss-cpu
sentence_transformers
langchain_huggingface
langchain-groq
groq
tiktoken
langchain_experimental
transformers
fastembed
langchain-qdrant
rank_bm25
openai
